

h1 {
    font-family: 'Lalezar', cursive;
    color: black;
    height: 8px;
 }

h2 {
    font-family: 'Lalezar', cursive;
    font-size: 14px;
    color: black;
    height: 0px;
}

img {
    max-width: 88px;
}